<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Your Wishlist</h1>
    </header>
    <table class="wish-list-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Link</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish : ${wishList}">
            <td th:text="${wish.name}">Wish Name</td>
            <td th:text="${wish.description}">Description</td>
            <td th:text="${wish.price}">Price</td>
            <td th:text="${wish.amount}">Quantity</td>
            <td><a th:href="${wish.link}" th:text="${wish.link}" target="_blank">Link</a></td>
            <td>
                <!-- Link to the update page with wish ID embedded in URL -->
                <form style="display: inline-block;" th:action="@{${wish.id} + '/update'}" method="get">
                    <input type="hidden" name="id" th:value="${wish.id}" />
                    <button type="submit">Delete</button>
                </form>
                <a th:href="@{${wish.id} + '/delete'}" >Delete</a>


            </td>
        </tr>
        </tbody>
    </table>
    <footer class="footer">
        <a href="/" class="btn">Return Home</a>
    </footer>
</div>
</body>
</html>
