<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Wish</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Add a New Wish</h1>
    </header>
    <form th:action="@{/createWish}" method="post" th:object="${wish}">
        <input type="text" name="name" th:field="*{name}" />
        <input type="text" name="description" th:field="*{description}" required/>
        <input type="number" name="price" th:field="*{price}" required min="1"/>
        <input type="number" name="amount" th:field="*{amount}" required min="1"/>
        <input type="text" name="link" th:field="*{link}" />
        <button type="submit" value="submit" class="btn">Add Wish</button>
    </form>
    <footer class="footer">
        <a href="/" class="btn">Return Home</a>
    </footer>
</div>
</body>
</html>
